{% extends "blog/base.html" %}
{% block content %}
    <h3 style="color: burlywood;font-size: xx-large;"> Who are we??</h3>
    <p style="color: coral;font-size: large;"> We are a bunch of enthusiasts from various different fields who have come together to share
        our experiences and learn new things. Be it about Dance, Music, Technology you can find information
        on any field here. <br> You can find any latest news updated here be it politics, sports, movies, travel or
        food. This is a platform where you can showcase your True self to the world!!<br><br>
    </p>
    <p style="color:darkred;font-size: x-large;">So what are you waiting for??<br>
        <a style="color: darkred;" href="{% url 'login' %}">Sign up Today</a> and start Blogging!!
    </p><br><br><br><br><br>
    <p style="color: hotpink;">Facing any issues? Feel free to reach out to us,</p>
    <a style="color:burlywood;" href="mailto:Tanisha.admane@somaiya.edu">Contact Us.</a>
{% endblock content %}